<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/nav.ejs') %>
            <div class="container">
                <h1 class="text-center text-success">A Confirmation message Will Send TO Your Diu Email</h1>
                <% console.log(userInfo) %>
                    <div class="row ">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-2">
                            <form action="/confirmation" method="POST" class="my-3">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="gmail" placeholder="Enter Gmail" name="userInfo" value="<%= userInfo %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </div>
                                <div class="form-group">
                                    <div class="mt-4">
                                        <button type="submit" class="btn btn-primary btn-lg text-center">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-5"></div>
                    </div>
            </div>
            <%- include('../includes/end.ejs') %>