<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/nav.ejs') %>
            <div class="container">
                <div class="row ">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 border border-dark mt-4">
                        <form action="/new-password" method="POST" class="my-3">
                            <div class="form-group">
                                <label for="password" class="text-success">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
                                <label for="confirmPassword" class="text-success">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Enter Password" name="ConfirmPassword">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="userId" value="<%= userId %>">
                                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary">Update Password</button>
                                </div>
                        </form>
                        </div>
                        <div class="col-sm-4"></div>

                    </div>
                </div>
                <%- include('../includes/end.ejs') %>