<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/nav.ejs') %>
            <main>
                <% if(productItem.length > 0) { %>

                    <div class="container">
                        <div class="row">
                            <% productItem.forEach(item => { %>
                                <div class="col-sm-4">
                                    <div class="card" style="width: 22rem;">
                                        <img class="card-img-top" src="/<%= item.productId.imageUrl %>" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Name : <span class="text-primary"><%= item.productId.productName %></span>
                                            </h5>
                                            <h5 class="card-title text-dander">Price : <span class="text-danger"><%= item.productId.productPrice %></span></h5>
                                            <h5 class="card-title text-secondary">Quantity : <span class="text-secondary"><%= item.quantity %></span></h5>
                                            <p class="card-text">
                                                <%= item.productId.description %>
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                        <div class="card-body">
                                            <form action="/cart-delete-item" method="POST">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <input type="hidden" value="<%= item._id %>" name="productId">
                                                <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <% if(productItem.length > 0) { %>
                            <a href="/checkout" class="btn btn-secondary mt-2 text-center" type="submit">Order Now !</a>
                            <% } %>
                    </div>



                    <% } else {%>
                        <div class="container">
                            <h1 class="text-center">No Products Added in Cart</h1>
                        </div>
                        <% }%>
            </main>

            <%- include('../includes/end.ejs') %>